### 01. Import Dependecies

In [1]:
import pandas as pd

### 02. Load Data

In [2]:
df = pd.read_csv("data/processed/outlier_handled.csv")
df.head()

,purchase_value,source,browser,sex,age,class,account_age_minutes,device_count,user_count_per_device,country
0,-0.037037,SEO,Chrome,M,39,0,-0.076893,0.0,0.0,Japan
1,-0.703704,Ads,Chrome,F,53,0,-0.899342,0.0,0.0,United States
2,-0.740741,SEO,Opera,M,53,1,-0.902629,11.0,11.0,United States
3,0.333333,SEO,Safari,M,41,0,-0.812467,0.0,0.0,Unknown
4,0.148148,Ads,Safari,M,45,0,-0.103501,0.0,0.0,United States

### 03. Feature Binning

In [4]:
df['age'].describe()

count    151112.000000
mean         33.140704
std           8.617733
min          18.000000
25%          27.000000
50%          33.000000
75%          39.000000
max          76.000000
Name: age, dtype: float64

In [5]:
def binning_age(age):
    if age >= 18 and age <= 25:
        return "Young"
    elif age >= 26 and age <= 35:
        return "Adult"
    elif age >= 36 and age <= 55:
        return "Middle-aged"
    elif age >= 56:
        return "Senior"
    else:
        return "Unknown"

In [6]:
df['age'] = df['age'].map(binning_age)

In [8]:
df.head(10)

,purchase_value,source,browser,sex,age,class,account_age_minutes,device_count,user_count_per_device,country
0,-0.037037,SEO,Chrome,M,Middle-aged,0,-0.076893,0.0,0.0,Japan
1,-0.703704,Ads,Chrome,F,Middle-aged,0,-0.899342,0.0,0.0,United States
2,-0.740741,SEO,Opera,M,Middle-aged,1,-0.902629,11.0,11.0,United States
3,0.333333,SEO,Safari,M,Middle-aged,0,-0.812467,0.0,0.0,Unknown
4,0.148148,Ads,Safari,M,Middle-aged,0,-0.103501,0.0,0.0,United States
5,0.259259,Ads,Chrome,M,Young,0,-0.125585,0.0,0.0,Canada
6,-0.888889,Ads,Chrome,F,Young,0,-0.503598,0.0,0.0,Unknown
7,-0.296296,Ads,Opera,M,Adult,0,-0.120492,0.0,0.0,United States
8,-0.185185,SEO,IE,F,Middle-aged,0,-0.244082,0.0,0.0,China
9,1.000000,Ads,IE,M,Adult,0,0.003189,0.0,0.0,United States

### 04. Saving Data

In [11]:
df.to_csv("data/processed/feature_binning.csv",index=False)