### 01. Import Dependecies

In [22]:
import pandas as pd

### 02. Load Data

In [23]:
df = pd.read_csv("data/processed/feature_engineered.csv")
df.head()

,purchase_value,source,browser,sex,age,class,account_age_minutes,device_count,user_count_per_device,country
0,34,SEO,Chrome,M,39,0,75111.37,1,1,Japan
1,16,Ads,Chrome,F,53,0,299.07,1,1,United States
2,15,SEO,Opera,M,53,1,0.02,12,12,United States
3,44,SEO,Safari,M,41,0,8201.42,1,1,Unknown
4,39,Ads,Safari,M,45,0,72691.02,1,1,United States

### 03. Feature Binning

In [24]:
df['age'].describe()

count    144272.000000
mean         33.120086
std           8.618817
min          18.000000
25%          27.000000
50%          33.000000
75%          39.000000
max          76.000000
Name: age, dtype: float64

In [25]:
def binning_age(age):
    if age >= 18 and age <= 25:
        return "Young"
    elif age >= 26 and age <= 35:
        return "Adult"
    elif age >= 36 and age <= 55:
        return "Middle-aged"
    elif age >= 56:
        return "Senior"
    else:
        return "Unknown"

In [26]:
df['age'] = df['age'].map(binning_age)

In [27]:
df.head(10)

,purchase_value,source,browser,sex,age,class,account_age_minutes,device_count,user_count_per_device,country
0,34,SEO,Chrome,M,Middle-aged,0,75111.37,1,1,Japan
1,16,Ads,Chrome,F,Middle-aged,0,299.07,1,1,United States
2,15,SEO,Opera,M,Middle-aged,1,0.02,12,12,United States
3,44,SEO,Safari,M,Middle-aged,0,8201.42,1,1,Unknown
4,39,Ads,Safari,M,Middle-aged,0,72691.02,1,1,United States
5,42,Ads,Chrome,M,Young,0,70682.18,1,1,Canada
6,11,Ads,Chrome,F,Young,0,36297.08,1,1,Unknown
7,27,Ads,Opera,M,Adult,0,71145.48,1,1,United States
8,30,SEO,IE,F,Middle-aged,0,59903.33,1,1,China
9,62,Ads,IE,M,Adult,0,82395.88,1,1,United States

### 04. Saving Data

In [28]:
df.to_csv("data/processed/feature_binning.csv",index=False)